html{
    box-sizing:border-box;
}
body{
    background-color: #c9c9c9;
}
header{
    background-color: green;
}
<<<<<<< HEAD
footer{
	background-color: blue;
=======
section{
    background-color: yellow;
>>>>>>> 3c8813d804a3ec189eec44a23f8d7a695d936240
}